FORMULARIO
<form name="formulario" ng-submit="$ctrl.create()" novalidate>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">ID:</span>
        <input type="text" name="id" ng-model="$ctrl.form.id" class="form-control"  aria-describedby="basic-addon1">
      </div> 

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Nombre:</span>
        <input type="text" name="nombre" ng-model="$ctrl.form.nombre"class="form-control"  aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Descripción:</span>
        <input type="text" name="descripcion" ng-model="$ctrl.form.snippet" class="form-control" aria-describedby="basic-addon2">
        
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Memoria RAM en MB</span>
        <input type="number" ng-model="$ctrl.form.ram" class="form-control" aria-label="memoria RAM">
        <span class="input-group-addon">RAM</span>
      </div>

      <div class="input-group">
            <span class="input-group-addon">Memoria ROM (Flash) en MB</span>
            <input type="number" ng-model="$ctrl.form.flash" class="form-control" aria-label="memoria ROM">
            <span class="input-group-addon">ROM</span>
          </div>
      <br>
      <label for="basic-url">Enlace de la imagen</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">URL:</span>
        <input type="text" ng-model="$ctrl.form.imagen" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
            <input type="submit" value="Crear" class="btn btn-success"></input>
          </div>
        </form>

      <div class="col-md-6">
          <pre>{{ form | json }}</pre>
      </div>